* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  background: white;
  color: #333;
  line-height: 1.6;
  /* max-width: 1250px; */
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 70px;
  /* position: fixed; */
  /* top: 0px; */
  padding: 0 30px;
  opacity: 0.8;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  color: #b22222;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */
.hero {
  background: url("../imgs/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 80px;
}

.hero .content p {
  font-size: 35px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 1;
}

.about-section {
  margin: 30px auto;
  text-align: center;
}

.about-section h2 {
  font-size: 65px;
}

.about-section p {
  font-size: 35px;
  padding: 40px;
}

.project {
  text-align: center;
  margin: 30px auto;
}

.project-header {
  font-size: 65px;
}

.lead {
  font-size: 35px;
  padding: 40px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  position: relative;
  background: #b22222;
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2);
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: 100%;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}
.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

.font-awe{
  font-size: 35px;
  margin: .2rem;
}

.font-awe:hover{
  color: #333;
  cursor: pointer;
}

#main-footer{
  background-color: #333333;
  padding: 30px;
  color: white;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social .fab{
  margin-right:1rem;
  font-size: 50px;
  text-align: center;
  padding: 5px;
}

.social .fab:hover{
  color: #b22222;
  cursor: pointer;
}

.contact{
  text-align: center;
  display: flex;
}

.fa{
  font-size: 40px;
}

.contact .fas{
  font-size: 40px;
  text-align: center;
}

.phone{
margin-right: 2rem;
}

.contact p{
  font-size: 25px;
}